# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Django
*.sqlite3
media/
staticfiles/

# Testing / coverage
.coverage
.pytest_cache/
htmlcov/

# Editors / OS
.vscode/
.idea/
.DS_Store
